<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Document</title>
</head>
<body >
    <!------------>
<!-- NavBar Section -->
    <!------------>
    <%- include ("./component/navbar")%>


    <!------------>
<!-- main Section -->
    <!------------>
    <div class="main">
        <div>
          <img src="" alt="">
        </div>
      <div class="cards">
        <div class="card">
          <h2>Gaming Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        <div class="card">
          <h2>jewelery</h2>
          <div class="card-item">
            <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">

          </div>
          <a href="">see more</a>
        </div>

        <div class="card">
          <h2>clothing Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
             <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        
        <div class="card">
          <h2>Gaming Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        <div class="card">
          <h2>jewelery</h2>
          <div class="card-item">
            <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">

          </div>
          <a href="">see more</a>
        </div>

        <div class="card">
          <h2>clothing Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
             <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        <div class="card">
          <h2>clothing Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
             <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>
        <div class="card">
          <h2>clothing Category</h2>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
             <h3></h3>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
              <h3></h3>
            </div>
          </div>
          <a href="">see more</a>
        </div>
      </div>
       
    </div>


    <script  src="./js/home.js""></script>

</body>
</html>