<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>home</title>
</head>
<body >
    <!------------>
<!-- NavBar Section -->
    <!------------>
    <%- include ("./component/navbar")%>


    <!------------>
<!-- main Section -->
    <!------------>
    <div class="main">
        <div>
          <img src="" alt="">
        </div>
      <div class="cards">
        <div id="card1" class="card">
          <div class="card_title"></div>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        <div id="card2" class="card">
          <div class="card_title"></div>
          <div class="card-item">
            <img class="card-item-img" src="" alt="">
          </div>
          <a href="">super deals</a>
        </div>

        <div id="card3" class="card">
          <div class="card_title"></div>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
             <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
          </div>
          <a href="">see more</a>
        </div>
        
        <div id="card4" class="card">
          <div class="card_title"></div>
          <div class="card-item">
            <img class="card-item-img" src="" alt="">

          </div>
          <a href="">see more</a>
        </div>

        <div id="card5" class="card">
          <div class="card_title"></div>
          <div class="card-item">
            <img class="card-item-img" src="" alt="">

          </div>
          <a href="">see more</a>
        </div>

        <div id="card6" class="card">
          <div class="card_title"></div>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
             <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
          </div>
          <a href="">see more</a>
        </div>

        <div id="card7" class="card">
          <div class="card_title"></div>
          <div class="card-item">
            <img class="card-item-img" src="" alt="">

          </div>
          <a href="">see more</a>
        </div>

        <div id="card8" class="card">
          <div class="card_title"></div>
          <div class="card-items">
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
            <div class="card-item-spread">
             <img class="card-item-img" src="" alt="">
             <div></div>
            </div>
            <div class="card-item-spread">
              <img class="card-item-img" src="" alt="">
              <div></div>
            </div>
          </div>
          <a href="">see more</a>
        </div>
      </div>
       
    </div>


    <script  src="./js/home.js""></script>

</body>
</html>