<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <title>Document</title>
</head>
<body>
        <!------------>
<!-- NavBar Section -->
    <!------------>
    <%- include ("./component/navbar")%>
    
    <h1>Product presentation</h1>
    <div class="dropdown">
      <button class="dropbtn">Filter item categories</button>
      <div class="dropdown-content">
        <a href="#" class="filter" id="men">Men's clothing</a>
        <a href="#" class="filter" id="women">Women's clothing</a>
        <a href="#" class="filter" id="jewelry">Jewelry</a>
        <a href="#" class="filter" id="electronics">Electronics</a>
        <a href="#" class="filter" id="price">price (high to low)</a>
      </div>
    </div>
    <div id="products">
    </div>
    
    <script src="./js/product.js"></script>
</body>
</html>