<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/signIn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>signIn</title>
</head>
<body>
    <div class="signIn_container">
        <div class="logo">
            <a href="../home_page/home.html">
                <img  src="https://github.com/subeshb1/GrabCheap/blob/master/img/logo_inverse.jpg?raw=true"
                alt="logo">
            </a>
        </div>
        <div class="form_container">
            <form id="signIn_form">
                <h1>signIn</h1>
                Email : <input class="signIn"  id="email" type="email" required><br><br>
                Password : <input class="signIn" placeholder="" id="password" type="password" required><br><br>
                 <input id="signIn_btn" type="submit" value="signIn">
            </form>

        </div>

    <script src="./js/signIn.js"></script>
</body>
</html>
