*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my_cart{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    max-width: 60%;
    padding: 10px;
}
.user_cart{
    height: 40px;
    font-size: 1.4em;
    font-weight: bold;
}
.cart_list_section{
    display: flex;

    
}
.cart_list{
    width: 70%;
}
.cart_title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 100px;


}
.Select_all_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart_items{
    display: flex;
    flex-direction: column;
    
    margin: 10px 0;
}
.cart_item{
    display: flex;
    height: 150px;
    margin: 10px 0;
    align-items: center;

}
.product_img>img{
    height: 100px;
    width: 100px;
}
.select_item{
    width: 15px;
    height: 15px;
    margin-right: 30px;
    cursor: pointer;
}
.cart_item_info{
    width: 70%;
    padding-left: 30px;
}
.cart_item_right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.cart_item_delete, #cart_delete_all{
    display: flex;
    justify-content: flex-end;
    height: 50%;
    margin: 5px;
    cursor: pointer;
}
.quantity{
    display: flex;
    justify-content: center;
    height: 50%;
}
.quantity>div{
    width: 30px;
    height: 30px;
}
.summary_section{
    width: 30%;
    padding: 0 15px;
}
.subtotal,.total{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 ;
}
.summary{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 1px 1px gray;
}
#checkout{
    width: 80%;
    height: 30px;
    /* padding: 5px; */
    position: absolute;
    bottom: 10px;
    left: 10%;
    cursor: pointer;
}
.payment_methods{
    padding: 0 5px;
    margin-top: 20px;
    height: 200px;
}
.payments_logos{
    padding-left: 5px;
}
.payments_logos>i{
    margin: 0 5px;
}
.payment_titles{
    font-size: 1.5em;
    margin: 5px 0;
}
.buyer_Protection{
    display: flex;
}

.cart_item, .cart_title,.summary,.payment_methods{
    box-shadow: 0 1px 5px 1px gray;
    border-radius: 10px;
    padding: 10px;
}
