<div class="cart_items">
    <div class="cart_item">
        <input type="checkbox" name="" class="select_item">
        <div class="product_img">
            <img src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
        </div>
        <div class="cart_item_info">
            <div class="cart_item_title">title</div>
            <div class="cart_item_description">cart_item_description</div>
            <div class="cart_item_price">24.5$</div>
        </div>
        <div class="cart_item_right">
            <div class="cart_item_delete">
                <i class="fa-regular fa-trash-can"></i>
            </div>
            <div class="quantity">
                <div id="minus">-</div>
                <div id="amount">2</div>
                <div id="plus">+</div>
            </div>

        </div>
    </div>
</div>
<div class="cart_items">
    <div class="cart_item">
        <input type="checkbox" name="" class="select_item">
        <div class="product_img">
            <img src="https://image.shutterstock.com/image-photo/blue-plain-shortsleeve-cotton-tshirt-260nw-1362822029.jpg" alt="">
        </div>
        <div class="cart_item_info">
            <div class="cart_item_title">title</div>
            <div class="cart_item_description">cart_item_description</div>
            <div class="cart_item_price">24.5$</div>
        </div>
        <div class="cart_item_right">
            <div class="cart_item_delete">
                <i class="fa-regular fa-trash-can"></i>
            </div>
            <div class="quantity">
                <div class="minus">-</div>
                <div class="amount">2</div>
                <div class="plus">+</div>
            </div>

        </div>
    </div>
</div>