<div id="user" class="nav-item"></div>
<div id="signOut" class="nav-item">Sign Out</div>
<div id="signin" class="nav-item">Sign In</div>
<div id="register" class="nav-item">Register</div>
<div id="cart" class="nav-item">
    <span class="cart_icon">
        <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <div class="items_in_cart">0</div>
 </div>

 
 <script>
    let signed_user = JSON.parse(localStorage.getItem("user"));
    let user = document.getElementById("user");
    let signin = document.getElementById("signin");
    let signOut = document.getElementById("signOut");
    let register = document.getElementById("register");
    
    // console.log(user);
    if(signed_user==null){
        user.style.display="none";
        signOut.style.display="none";
    }
    else{
        user.textContent= "hello\n"+ signed_user;
        user.style.display="inline";
        user.style.cursor ="default"
        signOut.style.display="inline";
        register.style.display="none";
        signin.style.display="none";

    }

    cart.addEventListener('click',()=>{
        console.log(signed_user);
        if(signed_user){
            fetch('http://localhost:3000/cart',{
                method:'POST',
                headers: {
                'Content-Type':'application/json'
                },
                body: JSON.stringify({signed_user})
            })
            .then(res=>res.json())
            .then(cart_items_data=>{
                displayCartItems(cart_items_data);
            })
            .catch(e=> {
                console.log(e);
            })
           
      }        
        else{
            window.location.href="http://localhost:3000/register"

        }
    })
    register.addEventListener('click',()=>{
        window.location.href="http://localhost:3000/register"
    })
    signin.addEventListener('click',()=>{
        window.location.href="http://localhost:3000/signin"
    })
    signOut.addEventListener('click',()=>{
        localStorage.clear();
        window.location.href="http://localhost:3000/"
    })
    
    function displayCartItems(cart_items_data){
        cart_items_data.forEach(element => {
            let {description,title,image,price} = element;
            
            let quantity = document.createElement("div");
            quantity.classList.add("quantity");
            let minus = document.createElement("div");
            minus.id = "minus";
            let amount = document.createElement("div");
            amount.id = "amount";
            let plus = document.createElement("div");
            plus.id = "plus";
            quantity.append(minus,amount,plus);

            let cart_item_delete = document.createElement("div");
            cart_item_delete.classList.add("cart_item_delete");
            // let i = document.createElement("i");
            // i.classList+="fa-regular fa-trash-can";
            // console.log((i));
            // cart_item_delete.appendChild(i);
            
        
            let cart_item_right = document.createElement("div");
            cart_item_right.classList.add("cart_item_right");
            cart_item_right.append(cart_item_delete,quantity);

            let cart_item_info = document.createElement("div");
            cart_item_info.classList.add("cart_item_info");
            let cart_item_title = document.createElement("div");
            cart_item_title.classList.add("cart_item_title");
            let cart_item_description = document.createElement("div");
            cart_item_description.classList.add("cart_item_description");
            let cart_item_price = document.createElement("div");
            cart_item_price.classList.add("cart_item_price");
            cart_item_info.append(cart_item_title,cart_item_description,cart_item_price);

            let product_img = document.createElement("div");
            product_img.classList.add("product_img");
            let img = document.createElement("img");
            product_img.append(img);

            let select_item = document.createElement("input");
            select_item.classList.add("select_item");

            let cart_item = document.createElement("div");
            cart_item.classList.add("cart_item");
            cart_item.append(select_item,product_img,cart_item_info,cart_item_right);
            console.log(cart_item);

            let cart_items = document.querySelector(".cart_items");
            cart_items.append(cart_item);
            window.location.href="http://localhost:3000/cart"

        });
        
      }

 </script>
