<nav class="navbar">
    <div class="logo">
      <img src="./pics/logo.png" alt="logo">
    </div>

    <div class="nav-item search" tabindex="0">
      <form class="search-group">
        <select id="select_Category">
          <option value="all">All</option>
          <option value="Mens">Mens</option>
          <option value="Womens">Womens</option>
          <option value="Winter">Winter</option>
          <option value="Summer">Summer</option>
        </select>
        <input id="search_Category" type="text" placeholder="search product">
        <button type="submit" id="search_product" href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
      </form>
    </div>
    
    <div class="navbar-items-right">
      <%- include ("display_user")%>

    </div>
  </nav>