
<nav class="navbar">
    <div class="logo">
      <img src="./pics/logo.png" alt="logo">
    </div>

    <div class="nav-item search" tabindex="0">
      <form class="search-group">
        <select id="select_Category">
          <option value="All">All</option>
          <option value="men's clothing">men's clothing</option>
          <option value="women's clothing">women's clothing</option>
          <option value="electronics">electronics</option>
          <option value="jewelery">jewelery</option>
        </select>
        <input id="search_Category" type="text" placeholder="search product">
        <button type="submit" id="search_product" href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
      </form>
    </div>
    
    <div class="navbar-items-right">
      <%- include ("display_user")%>

    </div>
  </nav>
  <script src="./js/navbar.js"> </script>